.btn-container {
  display: flex;

}
a {
  text-decoration:none
}
.btn-auth {
display: flex;
margin-left: auto;
}

.btn-logout {
  margin: 10px;
  width: 50px;
  border-radius: 8px;
  color: #ffc000;
  font-size: 18px;
  text-shadow: 0 1px 3px #000;
  text-align: center;
  padding: 10px 0;
  background: radial-gradient(circle, #8b0000, #8b0000);
  border-top: 4px ridge #ffb000;
  border-left: 4px groove #ffb000;
  border-right: 4px ridge #ffb000;
  border-bottom: 4px groove #ffb000;
  box-shadow: inset 0px 0px 5px 3px rgba(1,1,1,0.3);
  list-style-type: none;
}

.text-auth {
  margin: 15px;
  font-family: MedievalSharp, serif;
  font-size: 20px;
  color: #ffc000;
  text-shadow: 0 1px 3px #000;
  text-align: center;
  padding: 10px 0;
  list-style-type: none;
}

.btn-navbar{
  margin: 10px;
  width: 250px;
  letter-spacing: 2px;
  border-radius: 8px;
  font-family: MedievalSharp, serif;
  color: #ffc000;
  font-size: 18px;
  text-shadow: 0 1px 3px #000;
  text-align: center;
  padding: 10px 0;
  background: radial-gradient(circle, #8b0000, #8b0000);
  border-top: 4px ridge #ffb000;
  border-left: 4px groove #ffb000;
  border-right: 4px ridge #ffb000;
  border-bottom: 4px groove #ffb000;
  box-shadow: inset 0px 0px 5px 3px rgba(1,1,1,0.3);
  list-style-type: none;
  }
  .btn-navbar:hover{
  background: radial-gradient(circle, #e52b2b, #8b0000);
  box-shadow: 0px 0 5px 5px rgba(255,255,255,0.2)
  }
  .btn-navbar:active{
  background: radial-gradient(circle, #ec6a6a, #e52b2b);
  box-shadow: 0px 0 5px 5px rgba(255,255,255,0.2)
  }




























  